/*body style */
body {
  padding: 0;
  margin: 0;
}

/*headline */
h1 {
  font-size: 60px;
  line-height: 0.65;
}

/*main block on page */
#mainContainer {
  max-width: 1280px;
  padding: 0;
}

/*each separate block with content */
div#mainContainer div.contentBlock div.contentBlockIn {
  padding: 50px 35px;
}

/*text font */
div#mainContainer div.contentBlock div.block1 {
  background-color: #445162;
  color: #ffffff;
}
div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul {
  list-style-type: none;
  list-style-image: url(../images/check_icon.png);
  -webkit-padding-start: 34px;
     -moz-padding-start: 34px;
          padding-inline-start: 34px;
  margin-top: 50px;
}
div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul li {
  font-size: 20px;
}
div#mainContainer div.contentBlock div.block1 div.block2InBlock1 div.imgContainer {
  max-width: 469px;
  max-height: 214px;
  float: right;
}
div#mainContainer div.contentBlock div.block1 div.block2InBlock1 div.imgContainer img {
  width: 100%;
}
div#mainContainer div.contentBlock div.block2 {
  background-color: #ffffff;
}
div#mainContainer div.contentBlock div.block2 div.block1InBlock2 h4 {
  font-size: 30px;
  color: #445161;
  line-height: 0.75;
  margin-bottom: 25px;
}
div#mainContainer div.contentBlock div.block2 div.block1InBlock2 p {
  font-size: 16px;
  color: #333333;
}
div#mainContainer div.contentBlock div.block2 div.block2InBlock2 div.videoContainer {
  max-width: 430px;
  max-height: 245px;
  float: right;
}
div#mainContainer div.contentBlock div.block2 div.block2InBlock2 div.videoContainer img {
  width: 100%;
}
