@import resources
@import colors

div#mainContainer
    div.contentBlock
        div.contentBlockIn
        div.block1
            background-color: $bgDark
            color: $textLight
            div.block1InBlock1
                ul
                    list-style-type: none
                    list-style-image: url(../images/check_icon.png)
                    padding-inline-start: 34px
                    margin-top: 50px
                    li
                        font-size: 20px
            div.block2InBlock1
                div.imgContainer
                    max-width: 469px
                    max-height: 214px
                    float: right
                    img
                        width: 100%


