@import resources
@import colors
@import fonts

div#mainContainer
    div.contentBlock
        div.block1
            background-color: $bgDark
            color: $textLight
            div.block1InBlock1
                ul
                    list-style-type: none
                    list-style-image: url(../images/check_icon.png)
                    padding-inline-start: 34px
                    margin-top: 50px
                    li
                        font-size: 20px
                        font-weight: 400
            div.block2InBlock1
                div.imgContainer
                    max-width: 469px
                    max-height: 214px
                    float: right
                    img
                        width: 100%
        div.block2
            background-color: $bgLight
            div.block1InBlock2
                h4
                    @include headline4Mixin
                    margin-bottom: 25px
                p
                    @include paragraphMixin
                    margin-bottom: 15px
            div.block2InBlock2
                div.videoContainer
                    max-width: 430px
                    max-height: 245px
                    float: right
                    img
                        width: 100%
        div.block3
            background-color: $bgGrey
            padding-bottom: 15px
            div.block1InBlock3
                h4
                    @include headline4Mixin
                    margin-bottom: 25px
                    text-align: center
                div.row
                    div.media
                        margin-bottom: 35px
                        div.square
                            width: 32px
                            height: 32px
                            background-color: $bgDark
                            position: relative
                            margin-top: 6px
                            margin-right: 9px
                            img
                                position: absolute
                                margin: auto
                                top: 0
                                right: 0
                                bottom: 0
                                left: 0
                        div.media-body        
                            p
                                @include paragraphMixin
                                margin-bottom: 0
        div.block4
            background-color: $bgLight
            padding-bottom: 20px
            div.block1InBlock4
                h4
                    @include headline4Mixin
                    text-align: center
                    margin-bottom: 35px
                div.row
                    div.media
                        margin-bottom: 30px
                        div.blockForImg4
                            max-width: 200px
                            max-height: 150px
                            margin-right: 15px
                            img
                                width: 100%
                        div.media-body
                            h5
                                @include headline5Mixin
                                margin-bottom: 10px
                            p
                                @include paragraphMixin
